@inject IJSRuntime JSRuntime

<div class="grid @(Dimensao == 4 ? "w-h-400" : "w-h-300")">

    @for (int i = 0; i < Dimensao * Dimensao - 1; i++)
    {
        <input type="number" min="0" max="@(Dimensao == 3 ? 8 : 14)" />
    }
</div>

@code {

    [Parameter]
    public int Dimensao { get; set; }
}
