@page "/eightpuzzle"

<h1>8 Puzzle</h1>

<hr />

<div class="row">

    <div class="col-md-6">

        <div class="card">

            <div class="card-header">Estado inicial</div>
            <div class="card-body">
                <Tabuleiro />
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card">

            <div class="card-header">Estado final</div>
            <div class="card-body">
                <Tabuleiro />          
            </div>
        </div>

    </div>

</div>

@code {

}
